@import "compass";
@import "compass/reset";

@import "variables";
@import "mixins";
@import "base";
@import url(http://fonts.googleapis.com/css?family=Abel);

$page-font:'Abel',sans-serif;
/*@mixin shadow-color ($v1,$v2,$v3,$v4){

}*/

.page-header{
	position:fixed;
	top:0;
	right:0;
	left:0;
	bottom:0;
	z-index: 2;
	width:100%;
	height:65px;
	background-color:rgba(0,0,0,0.95);
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	line-height: 65px;

	#site-name{
		float:left;
		line-height: 65px;
		margin-left: 5%;
	}

	#site-name a{
		font-family: $page-font;
	  	font-size:24px;
	  	color: #ffffff;
	  	text-decoration: none;
	}

	.large-nav{
		height: 65px;
		line-height: 65px;
	}
}

.page-header.small-nav{
	height:40px;
	line-height: 40px;
}

.page-header.small-nav #site-name{
	line-height: 40px;
}

.fixed-nav-bar{
	float:right;
	margin-right:5%;
	height:100%;
	width:50%;
	margin:0 auto;

	li, a {
		display:inline-block;
		font-family: $page-font;
		font-size:18px;
		color: #ffffff;
		text-decoration: none;
		margin-right:15px;
		margin-left:15px;
	}
}

.fixed-div{
	width:100%;
	height:680px;
	display:table;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 1;
	background-attachment: fixed;
	/*background-image: url("../assets/bg2.jpeg");*/

	h1{
		font-family:$page-font;
		font-size: 52px;
		color:white;
		text-align: center;
		text-shadow:0 1px 2px rgba(0,0,0,0.3);
	}
}

.section1{
	text-align: center;
	display:table-cell;
	vertical-align: middle;
}

.section-1-content {
	margin:0 auto;

	h1{
		text-align:center;
	}
}


.fixed-div.bg-1{
	background-image: url("../assets/psycho.png");
}

.fixed-div.bg-2{
	background-image: url("../assets/shining.jpg");
}

.scrolling-div{
	width:100%;
	height:300px;
	padding: 4em 0;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
	z-index: 2;
}

.section-container{
	width: 90%;
	max-width: 768px;
	margin: 0 auto;

	p{
		line-height: 240%;
		font-family:$page-font;
		color:white;
	}
}

.scrolling-div.color-2 {
  background-color: #404040;
  color: #3d3536;
}

header, div{
	transition:all 0.6s;
}

footer {
	width:100%;
	height:70px;
	padding: 4em 0;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
	z-index: 2;
	background-color:rgba(64,64,64,0.95);
	font-family:'Abel', sans-serif;
	color:white;

	.row div{
		float:left;
		width:33%;
	}

	.row{
		margin-right: 5%;
		margin-left: 5%;
	}
}

.col-1{
	text-align:center;

	h3{
		font-size: 28px;
	}

	p{
		margin-top:15px;
		font-size:20px;
	}
}

.col-2{
	text-align:center;

	h3{
		font-size: 28px;
	}
}

.col-3{
	text-align:center;

	h3{
		font-size:28px;
	}

	p{
		margin-top: 10px;
		font-size:20px;
	}
}

.jlg{
	font-size:14px;
}

.list-inline li{
	text-align: center;
	margin-top:10px;
	display:inline-block;
}
.fa{
	margin-left:20px;
	color:white;
}
.fa:hover{
	color:#AAAAAA;
}

#bgvid{
	position:fixed;
	right:0;
	bottom:0;
	min-width: 100%;
	width:100%;
	height:auto;
	background: transparent url("../assets/bg2.jpeg") no-repeat;
	background-size: cover; 
	z-index: -1000;
}

.video-button { 
	margin-top:20px;
	width: 200px;
	height: 60px;
	font-family: $page-font;
	font-size: 22px;
	color: white;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	background: rgba(64,64,64,0.8);
	border: 0;
	border-radius: 10px;
	cursor:pointer;
}

.transparent-screen {
	width: 100%;
	height: 100%;
	background: #000000;
	position: fixed;
	top: 0px;
	opacity: 0.7;
	z-index: 10;
}

.modal {
	width: 640;
	height: 360px;
	background: #ffffff;
	position: fixed;
	top: 12%;
	left:25%;
	z-index: 11;
}

.modal-video{
	display:none;
}

.carousel {
  position: relative;
  list-style: none;
}

.carousel li {
  position: absolute;
  width:100%;
}

.carousel > li:not(.active) {
  display: none;
}
  
@-webkit-keyframes next-in {
  0% { 
  	opacity: 0; 
  	transform: translateX(100px);
  }
  100% { 
  	opacity: 1; 
	transform: translateX(0px);	
  }
}
@-webkit-keyframes next-out {
  0%   { 
  	opacity: 1; 
  	transform: translateX(0px);
  }
  100% { 
  	opacity: 0; 
  	transform: translateX(-100px);
  }
}
@-webkit-keyframes prev-in {
  0%   { 
  	opacity: 0;
  	transform: translateX(-100px); 

  }
  100% { 
  	opacity: 1; 
  	transform: translateX(0px);
  }
}
@-webkit-keyframes prev-out {
  0%   { 
  	opacity: 1;
  	transform: translateX(0px); 
  }
  100% { 
  	opacity: 0;
  	transform: translateX(100px); 
  }
}

.carousel > li.next-in {
  -webkit-animation: next-in 0.8s;
}

.carousel > li.next-out {
  -webkit-animation: next-out 0.8s;
}

.carousel > li.prev-in {
  -webkit-animation: prev-in 0.8s;
}

.carousel > li.prev-out {
  -webkit-animation: prev-out 0.8s;
}

.fixed-div.slide1{
	background-image: url("../assets/nolan3.jpg");
}

.fixed-div.slide2{
	background-image: url("../assets/fincher.jpg");
}

.fixed-div.slide3{
	background-image: url("../assets/tarantino.jpg");
}

.fixed-div.slide4{
	background-image: url("../assets/wes2.jpg");
}

.fixed-div.slide5{
	background-image: url("../assets/spike.jpeg");
}